* {
  box-sizing: border-box;
}

:root {
  --primary-font: "Poppins", sans-serif;
  --primary-color: #1ebfc1;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}

/* ========== Common ========== */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.heading {
  color: #0d1111;
  font-family: var(--primary-font);
  font-weight: 700;
}

.space-height {
  scroll-margin-top: 80px;
}

/* ========== Header ========== */
.header {
  padding-top: 37px;
  padding-bottom: 10px;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 100;
  background-color: #fff;
}

.header .body {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 235px;
}

.header .navbar {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  gap: 39px;
}

.header ul a {
  padding: 12px 0;
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 400;
}

.navbar li.active a,
.navbar ul a:hover {
  color: #2f3a3b;
  text-shadow: 1px 0 0 currentColor;
}

.navbar .actions {
  margin-left: 177px;
}

.navbar .action-link {
  color: #494949;
}

.navbar .action-btn {
  display: inline-block;
  min-width: 108px;
  padding: 12px 23px;
  margin-left: 24px;
  color: #1ebfc1;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
}

.navbar .action-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* ========== Hero ========== */
.hero {
  margin-top: 40px;
  padding-bottom: 79px;
}

.hero .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .sub-title {
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero .heading {
  margin-top: 18px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
}

.hero .content-block .desc {
  width: 374px;
  margin-top: 23px;
  color: #9da6a5;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
}

.hero .cta-group {
  margin-top: 48px;
}

.hero .hero-cta {
  display: inline-block;
  min-width: 186px;
  height: 68px;
  line-height: 68px;
  text-align: center;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 14px;
  background: #1ebfc1;
}

.hero .hero-cta:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.hero .watch-btn {
  margin-left: 50px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
}

.hero .watch-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.hero .hero-background {
  width: 576px;
  height: 631px;
  object-fit: cover;
  background-color: #e0f7f6;
  border: 1px solid white;
}

.media-block {
  position: relative;
}

.media-block .desc {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.hero .course-number {
  position: absolute;
  top: 149px;
  left: -49px;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background-color: #fefefd;
  box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .course-number:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.hero .course-number img {
  margin: 18px 25px;
}

/* .hero .schedules {
  display: flex;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: red;
} */

.schedules {
  position: absolute;
  bottom: 46px;
  left: -65px;
  display: flex;
  flex-direction: column;
  width: 124px;
  border-radius: 24px;
  text-align: center;
  padding: 16px 25px 12px 25px;
  box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
  background-color: #fefefd;
}

.schedules:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.progress-bar {
  background-color: #e5e9ee;
  border-radius: 10px;
  height: 6px;
  margin: 12px 0;
  overflow: hidden;
}

.progress {
  background-color: #f77b7b;
  height: 100%;
  width: 0%;
}

.done-30 {
  width: 30%;
}
.done-60 {
  width: 60%;
}
.done-50 {
  width: 50%;
}
.done-0 {
  width: 20%;
  background-color: #e5e9ee;
}

.active-students {
  position: absolute;
  bottom: 41px;
  right: 45px;
  width: 207px;
  height: 90px;
  padding: 17px 35px;
  border-radius: 24px;
  box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
  background-color: #fefefd;
}

.active-students:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.active-students .students-avatar {
  display: flex;
  margin-top: 8px;
}

.active-students .user-avt {
  width: 33px;
  height: 33px;
  border-radius: 50px;
  margin-left: -5px;
}

.active-students .user-avt:first-child {
  background-color: #1ebfc1;
}

.active-students .user-avt:nth-child(2) {
  background-color: #ffc147;
}

.active-students .user-avt:nth-child(3) {
  background-color: #ff947a;
}

.active-students .user-avt:nth-child(4) {
  background-color: #bf83ff;
}

.active-students .user-avt:nth-child(5) {
  background-color: #1ebfc1;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  padding: 11px 6px;
}

.active-students .user-avt img {
  object-fit: cover;
}

/* ========== Features ========== */
.features .features-top {
  margin-top: 125px;
  width: 53%;
  margin-right: auto;
}

.features-top .sub-title {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.features .heading {
  margin: 18px 0;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33;
}

.features .desc {
  margin-top: 18px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: normal;
}

.features-bottom {
  width: 1024px;
  margin-right: auto;
  margin-top: 80px;
}

.features-list {
  display: flex;
}

.features-item:first-child {
  margin-right: 209px;
}

.features-item:nth-child(2) {
  margin-right: 200px;
}

.features-item:nth-child(3) {
  width: 585px;
}

.features-bottom .title {
  margin-top: 16px;
  color: #0d1111;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.feature-desc {
  margin-top: 10px;
  color: #9da6a5;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.69;
}

/* ========== Popular Courses ========== */

.popular-course {
  margin-top: 130px;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .top-left {
  width: 45%;
}

.popular-top .sub-title {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.popular-top .heading {
  margin-top: 8px;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: normal;
}

.popular-top .desc {
  color: #767e7e;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.78;
}

.popular-top .btn-view {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: normal;
  transition: all 0.5s ease;
}

.popular-top .btn-view:hover {
  text-decoration-line: underline;
}

.popular-bottom {
  margin-top: 76px;
}

.course-list {
  display: flex;
  gap: 47px;
}

.course-item {
  width: 30.68%;
  position: relative;
}

.course-item .thumb {
  width: 359px;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0.65;
  background: #d0efed;
}

.course-item:hover .thumb {
  opacity: 1;
}

.course-item .course-info {
  bottom: -124px;
  left: 17px;
  right: 17px;
  position: absolute;
  padding: 18px 35px 29px 25px;
  width: 325px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
}

.course-item .course-info:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.course-item .course-info .title {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
}

.course-item .course-info .price {
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
}

.course-item .course-info .price span {
  display: inline-block;
  margin-top: 16px;
  color: #0d1111;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.course-item .course-info .desc {
  margin-top: 6px;
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
}

.course-item .summary {
  margin-top: 18px;
  display: flex;
  gap: 10px;
}

.course-item .summary .more-info::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1ebfc1;
  margin: 2px 10px 2px 0;
}
